// ---------------------------------------------- layer levels

%layer-level-focus {
    box-shadow: 0 0 12px rgba(0, 126, 158, 1);
}

%layer-level-flat {
    box-shadow: none;
}

%layer-level-low {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
    &:focus, &.focused {
        @extend %layer-level-focus;
    }
}

%layer-level-middle {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    &:focus, &.focused {
        @extend %layer-level-focus;
    }
}

%layer-level-low {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
    &:focus, &.focused {
        @extend %layer-level-focus;
    }
}
