html, body {
    background-color: color-tint("neutral", "lightest");
    color: $font-color;
    font-size: $base-font-size;
    font-family: $font-family;
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}