// ---------------------------------------------- border

// ---------------------------------------------- breakpoint
/// TODO

// ---------------------------------------------- font
$base-font-size: 16px !default;

$font-color: $color-neutral-black !default;

$font-family: sans-serif !default;
$font-family-alt: serif !default;

$font-weight: normal !default;
$font-weight-emphasis: bold !default;
$font-weight-light: lighter !default;

