// ---------------------------------------------- border styles

/// Default
$border-color: #919D9E !default; // neutral--base
$border-style: solid !default;
$border-width: 1px !default;
$border-width-heavy: 2px !default;

$border-color-dashed: $border-color !default;
$border-style-dashed: dashed !default;
$border-width-dashed: $border-width !default;

$border: $border-width $border-style $border-color !default;
$border-dashed: $border-width-dashed $border-style-dashed $border-color-dashed !default;

/// Light
$border-color-light: $border-color !default;
$border-style-light: $border-style !default;
$border-width-light: $border-width !default;

$border-color-light-dashed: $border-color-dashed !default;
$border-style-light-dashed: $border-style-dashed !default;
$border-width-light-dashed: $border-width-dashed !default;

$border-light: $border-width-light $border-style-light $border-color-light !default;
$border-dashed-light: $border-width-light-dashed $border-style-light-dashed $border-color-light-dashed !default;

/// Heavy
$border-color-heavy: $border-color !default;
$border-style-heavy: $border-style !default;
$border-width-heavy: $border-width-heavy !default;

$border-color-heavy-dashed: $border-color-dashed !default;
$border-style-heavy-dashed: $border-style-dashed !default;
$border-width-heavy-dashed: $border-width-heavy !default;

$border-heavy: $border-width-heavy $border-style-heavy $border-color-heavy !default;
$border-dashed-heavy: $border-width-heavy-dashed $border-style-heavy-dashed $border-color-heavy-dashed !default;


// ---------------------------------------------- border radius
$border-radius-none: none !default;
$border-radius-light: 0.5rem !default;
$border-radius-heavy: 1rem !default;

$border-radius: $border-radius-none !default;