// combo 
$plato-form_combo_width: 100% !default;
/// combo - input 
$plato-form_combo_input_color: $font-color-copy !default;
/// combo - input field 
$plato-form_combo_input_field_border: $plato-form_component_field_border !default;
$plato-form_combo_input_field_border-radius: $plato-form_component_field_border-radius !default;
$plato-form_combo_input_field_display: $plato-form_component_field_display !default;
$plato-form_combo_input_field_font-family: $plato-form_component_field_font-family !default;
$plato-form_combo_input_field_font-size: $plato-form_component_field_font-size !default;
$plato-form_combo_input_field_padding: $plato-form_component_field_padding !default;
$plato-form_combo_input_field_width: $plato-form_component_field_width !default;

// dropdown 
$plato-form_combo_dropdown_background: color-tint("neutral", "lighter") !default;
/// dropdown - value 
$plato-form_combo_dropdown_value_padding: spacing("sm") spacing("s") !default;
$plato-form_combo_dropdown_value_background_selected: color-tint("secondary", "dark") !default;
$plato-form_combo_dropdown_value_background_hover: color-tint("secondary", "dark") !default;
$plato-form_combo_dropdown_value_color_selected: $color-neutral-white !default;
$plato-form_combo_dropdown_value_color_hover: $color-neutral-white !default;



//-------- MIXINS

//// date 
@mixin plato-form_combo {
	width: $plato-form_combo_width;
}
@mixin plato-form_combo_input {
	color: $plato-form_combo_input_color;
}
@mixin plato-form_combo_input_container {
	
}
@mixin plato-form_combo_input_container_field {
	border: $plato-form_combo_input_field_border;
	border-radius: $plato-form_combo_input_field_border-radius;
	display: $plato-form_combo_input_field_display;
	font-family: $plato-form_combo_input_field_font-family;
	font-size: $plato-form_combo_input_field_font-size;
	padding: $plato-form_combo_input_field_padding;
	width: $plato-form_combo_input_field_width;
}
@mixin plato-form_combo_input_container_icon {
	color: inherit;
}
@mixin plato-form_combo_dropdown {
	background-color: $plato-form_combo_dropdown_background;
}
@mixin plato-form_combo_dropdown_value {
	padding: $plato-form_combo_dropdown_value_padding;
}
@mixin plato-form_combo_dropdown_value_hover {
	background-color: $plato-form_combo_dropdown_value_background_hover;
	color: $plato-form_combo_dropdown_value_color_hover;
}
@mixin plato-form_combo_dropdown_value_selected {
	background-color: $plato-form_combo_dropdown_value_background_selected;
	color: $plato-form_combo_dropdown_value_color_selected;
}


//-------- DEFINITIONS

.plato-form, %plato-form {
	.plato-form_combo, %plato-form_combo {
		@include plato-form_combo;
		.plato-form_combo_input, %plato-form_combo_input {
			@include plato-form_combo_input;
			.input_container, %plato-form_combo_input_container {
				@include plato-form_combo_input_container;
				.input_field, %plato-form_combo_input_container_field {
					@include plato-form_combo_input_container_field;
				}
				.input_icon, %plato-form_combo_input_container_icon {
					@include plato-form_combo_input_container_icon;
					
				}
				.combo_dropdown, %plato-form_combo_dropdown {
					@include plato-form_combo_dropdown;
					.dropdown_value, %plato-form_combo_dropdown_value {
						@include plato-form_combo_dropdown_value;
						&:hover {
							@include plato-form_combo_dropdown_value_hover;
						}
						&.selected, &.pondering, &%plato-form_combo_dropdown_value_selected {
							@include plato-form_combo_dropdown_value_selected;
						}
					}
				}
			}
		}
	}
}