// ---------------------------------------------- plato card

// card
$plato-card_background: $color-neutral-white !default;
$plato-card_border-radius: 4px !default;
$plato-card_color: color-tint("primary", "darkest") !default;
$plato-card_margin: spacing("m") !default;
$plato-card_padding: spacing("m") spacing("ml") spacing("l") !default;
$plato-card_align: left !default;
// description 
$plato-card_description_margin: spacing("ml") 0 !default;
// actions 
$plato-card_actions_margin: 0 !default;
$plato-card_actions_padding: 0 !default;

.plato-card, %plato-card {
	@extend %layer-level-low;
	background-color: $plato-card_background;
	border-radius: $plato-card_border-radius;
	color: $plato-card_color;
	margin: $plato-card_margin;
	padding: $plato-card_padding;
	text-align: $plato-card_align;
	.plato-card_title, %plato-card_title {
		@extend %h4;
		color: $plato-card_color;
	}
	.plato-card_image, %plato-card_image {
		
	}
	.plato-card_description, %plato-card_description {
		@extend %paragraph;
		color: $plato-card_color;
		margin: $plato-card_description_margin;
	}
	.plato-card_actions, %plato-card_actions {
		margin: $plato-card_actions_margin;
		padding: $plato-card_actions_padding;
		button, .button {
			margin: 0;
		}
	}
}