/// form wrapper

.n-form .n-form-address {
	width: 100%;
	.n-form-address-form .n-form-combo {
		margin-bottom: 0;
	}
}

.n-form {
	.n-form-combo {
		@include plato-form_combo;
		.n-input-combo {
			@include plato-form_combo_input;
			.n-input-combo-input-container {
				@include plato-form_combo_input_container;
				.n-input-combo-input {
					@include plato-form_combo_input_container_field;
				}
				.n-icon {
					@include plato-form_combo_input_container_icon;
				}
				.n-input-combo-dropdown {
					@include plato-form_combo_dropdown;
					.n-input-combo-dropdown-value {
						@extend  %plato-form_combo_dropdown_value;
						&.pondering {
							@include plato-form_combo_dropdown_value_selected;
						}
					}
				}
			}
			.n-form-combo-bottom {
				display: none;
			}
		}
	}
}

.n-form {
	.combo-filter.n-input-combo {
		.n-input-combo-label-container {
			background: $color-neutral-white;
			margin-right: -0.25rem;
			border-style: solid;
			border-radius: $border-radius 0 0 $border-radius;
			z-index: 2;
		}
		.n-form-component {
			margin: 0;
		}
	}
}