// ---------------------------------------------- color mappings

$body-color: $color-neutral-lightest !default;
$body-contrast: $color-neutral-black !default;

$primary-color: $color-primary-base !default;
$primary-contrast: $color-neutral-white !default;

$secondary-color: $color-secondary-base !default;
$secondary-contrast: $color-neutral-white !default;

$neutral-color: $color-neutral-dark !default;
$neutral-contrast: $color-neutral-white !default;

$danger-color: $color-danger-base !default;
$danger-contrast: $color-neutral-white !default;

$success-color: $color-success-base !default;
$success-contrast: $color-neutral-white !default;

$warning-color: $color-warning-base !default;
$warning-contrast: $color-neutral-white !default;


// TODO