// --------------------------------------------------------- VARIABLES

$button-color: $neutral-color !default;
$button-background: $neutral-contrast !default;
$button-border: none !default;
$button-font-size: $font-size-base !default;
$button-font-family: $font-family !default;
$button-font-weight: $font-weight !default;
$button-height: 3.375rem !default;
$button-height-small: spacing("xl") !default;
$button-height-large: spacing("xxl") !default;

$button-border-radius: $border-radius-none !default;
$button-border-style: $border-style !default;
$button-border-width: $border-width !default;

$button-margin: 0 spacing("m") spacing("m") 0 !default;
$button-padding-top: 0 !default;
$button-padding-bottom: 0 !default;
$button-padding-left: spacing("l") !default;
$button-padding-right: spacing("l") !default;
$button-padding-icon: spacing("xl") !default;
$button-padding: $button-padding-top $button-padding-right $button-padding-bottom $button-padding-left !default;
$button_has-icon_padding: $button-padding-top $button-padding-right $button-padding-bottom $button-padding-icon !default;
$button_has-icon-right_padding: $button-padding-top $button-padding-icon $button-padding-bottom $button-padding-left !default;
$button-text-transform: none !default;
$button-transition: all 0.3s ease !default;
$button-min-width: auto !default;

$button-text-decoration-ghost: underline !default;

$button-border-radius-round: calc(#{$button-height} / 2) !default;

// TODO : button icon is dependent on button size (normal, large, small)

/// icon 
$button_icon-font-size: 1.6rem !default;
$button_icon-position: absolute;
$button_icon-top: calc(#{$button-height} / 2) !default;
$button_icon-left: calc(#{$button-padding-left} / 2) !default;
$button_icon-right: $button_icon-left !default;
$button_icon-transform: translateY(-50%) !default;
/// is-icon
$button-icon-padding: 0 1rem !default;


// --------------------------------------------------------- functions 

@function button-get-size($size: "normal") {
	$button-sizes: (
		small: $button-height-small,
		normal: $button-height,
		large: $button-height-large
	);
	@if map-has-key($map: $button-sizes, $key: $size) {
		@return map-get($map: $button-sizes, $key: $size);
	}
	@else {
		@warn "Requested size '#{$size}' is not available.";
		@return null;
	}
}



// --------------------------------------------------------- mixins

// TODO


@mixin button-colorize($property, $color) {
	#{$property}: $color;
}

@mixin button-background($color) {
	@include button-colorize("background-color", $color);
}
@mixin button-border($color) {
	@include button-colorize("border-color", $color);
}
@mixin button-color($color) {
	@include button-colorize("color", $color);
}
@mixin button-outline($color, $border: $color, $background: transparent) {
	background-color: $background;
	border-width: $button-border-width;
	border-style: $button-border-style;
	@include button-border($border);
	@include button-color($color);
}
@mixin button-ghost($color, $background: transparent) {
	background-color: $background;
	border: none;
	@include button-color($color);
	&:hover {
		background-color: $background;
	}
	span:not(.icon) {
		text-decoration: $button-text-decoration-ghost;
	}
}

@mixin button-small {
	height: button-get-size("small");
	line-height: button-get-size("small");
	.icon {
		top: calc(#{button-get-size("small")} / 2);
	}
}

@mixin button-large {
	height: button-get-size("large");
	line-height: button-get-size("large");
	.icon {
		top: calc(#{button-get-size("large")} / 2);
	}
}

@mixin button-options-has-icon {
	padding: $button_has-icon_padding;
}

@mixin button-options-has-icon-right {
	padding: $button_has-icon-right_padding;
}

@mixin button-options-full {
	width: 100%;
}

@mixin button-base {
	border: $button-border;
	border-radius: $button-border-radius;
	color: $button-color;
	cursor: pointer;
	display: inline-block;
	font-family: $font-family;
	font-size: $button-font-size;
	font-weight: $button-font-weight;
	height: button-get-size("normal");
	line-height: button-get-size("normal");
	margin: $button-margin;
	padding: $button-padding;
	position: relative;
	text-align: center;
	text-transform: $button-text-transform;
	transition: $button-transition;
	outline: none;
	min-width: $button-min-width;
	&.large {
		@include button-large;
	}
	&.small {
		@include button-small;
	}
	&.round {
		border-radius: $button-border-radius-round;
	}
	&.square {
		border-radius: 0;
	}
	&.full {
		@include button-options-full;
	}
	&.has-icon {
		@include button-options-has-icon;
	}
	&.has-icon-right {
		@include button-options-has-icon-right;
	}
	.icon {
		font-size: $button_icon-font-size;
		position: $button_icon-position;
		top: $button_icon-top;
		left: $button_icon-left;
		transform: $button_icon-transform;
	}
	&.has-icon-right .icon {
		left: auto;
		right: $button_icon-right;
	}
	&.is-icon {
		.icon {
			left: 50%;
			margin: 0;
    		transform: translate(-50%, -50%);
		}
	}
	span {
		display: inline-block;
	}
}